<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811582252942-2mnrc80b32u8qupgp1n2nkl8h2ngheu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811582252942-2mnrc80b32u8qupgp1n2nkl8h2ngheu2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811582252942-tcc0o01ieq96689494j5idejuo7ek6h4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAX5AMVrfN0hBs68103cqyNkGpAz3ZKEA</string>
	<key>GCM_SENDER_ID</key>
	<string>811582252942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mk.chatDemo</string>
	<key>PROJECT_ID</key>
	<string>chatdemo-2eeeb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo-2eeeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811582252942:ios:be892e9445bd633529e6df</string>
</dict>
</plist>